! ==========================================================
!  Network Monitoring Experiment schedule
! ==========================================================

note1 = '{BAND_LABEL} NME and ftp fringe test.'
note2 = '{DATARATE_MBPS} Mbps'
note3 = ''
note4 = 'Please DO NOT use the phase cal signal.'



! ==========================================================
! =================  Cover Information  ====================
! ==========================================================

version  = 1
expcode  = '{EXPERIMENT_CODE}'
expt     = 'Network Monitoring Experiment'
obstype  = 'vlbi'
obsmode  = 'vlbi'
piname   = '{PI_NAME}'
address1 = '{PI_INSTITUTE}'
address2 = ''
address3 = ''
address4 = ''
email    = '{PI_EMAIL}'
phone    = '{PHONE}'
obsphone = '{PHONE}'

coverlet /

This is the schedule for the {BAND_LABEL} NME and ftp fringe-test on {DATE_LONG}
involving {N_STATIONS} antennas:
{STATION_CODES}

The following ftp-fringe tests are scheduled throughout the experiment (UT times):

{GRAB_SUMMARY}

endcover /



! ==========================================================
! ==============  Correlator Information  ==================
! ==========================================================

correl   = 'jive'
corpol   = 'on'
coravg   = 1
corchan  = 8
cornant  = {CORNANT}
corwtfn  = 'uniform'
corsrcs  = 'standard'
cortape  = 'ftp'
corship1 = 'N/A'



! ==========================================================
! ==================  Program control  =====================
! ==========================================================

overwrit
sumitem = el1, early, az1, slew



! ==========================================================
! ===================  Source Catalog  =====================
! ==========================================================

srccat /

{SOURCES}

endcat /



! ==========================================================
! ==================== Frequency setup =====================
! ==========================================================

setup = {SETUP}



! ==========================================================
! ========================  The Scans  =====================
! ==========================================================

year  = {YEAR}
month = {MONTH}
day   = {DAY}
start = {START_TIME}

optmode = scans
opminel = 9


! ========================   {EXPERIMENT_CODE}   =======================

stations = {STATIONS}

{SCANS}

! ==========================================================
