wheel
astroplan
astropy
Brotli
click
dash
dash-bootstrap-components<1.0
dash-core-components
dash-html-components
dash-renderer
dash-table
Flask
Flask-Compress
future
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
plotly
pyerfa
python-dateutil
pytz
retrying
scipy
six
Werkzeug
gunicorn
pytest
