

.element {
	padding: 10px;
	clear: both;
}

.column {
	float: left;
	padding: 20px;
}

.left {
	width: 25%;
	background-color: #CCF;
}

.right {
	width: 70%;
	background-color: #FFA;
}


/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive: only one column if small display */
/*@media screen and (max-width: 400px) {
	.column {
		width: 100%;
	}
}*/
